@CHARSET "UTF-8";

.jacbt_menu_header, .jacbt_menu_footer {
	float:		right;
	display:	inline-block;
	margin-right: 10px	
}

.jacbt_menu_header li, .jacbt_menu_above_content li {
	display:	inline-block;
}
ul.menu li:before {
	content:"";
}
.jacbt_menu_footer a, .jacbt_menu_above_content a, .jacbt_menu_header a {
    padding: 0px 4px;
}
		
.jacbt_menu_header a, .jacbt_menu_footer a, .jacbt_menu_above_content a {
    bacgkground-color: transparent;
    border-radius: 20px;
}
.jacbt_menu_header a:link, .jacbt_menu_footer a:link, .jacbt_menu_above_content a:link {
    text-decoration: none;	
}
.jacbt_menu_header, .jacbt_menu_header a,
.jacbt_menu_above_content, .jacbt_menu_above_content a {
	font-weight: bold;
}
.jacbt_menu_above_content li {
	padding: 2px 0px;
}
