@CHARSET "UTF-8";

.jacbt_menu_header, .jacbt_menu_footer {
	float:		right;
	display:	inline-block;
	margin-right: 10px	
}

.jacbt_menu_header li, .jacbt_menu_above_content li {
	display:	inline-block;
}
.jacbt_menu_header a {
    padding-left: 15px;
    padding-right: 15px;
}
ul.menu li:before {
	content:"";
}
.jacbt_menu_footer a, .jacbt_menu_above_content a {
    padding-left: 5px;
    padding-right: 5px;
}
		
.jacbt_menu_header a, .jacbt_menu_footer a, .jacbt_menu_above_content a {
    bacgkground-color: transparent;
    border-radius: 20px;
}
.jacbt_menu_header a:link, .jacbt_menu_footer a:link, .jacbt_menu_above_content a:link {
    text-decoration: none;	
}
