@CHARSET "UTF-8";

blockquote {
    position: relative;
    margin: 5px 80px 5px 60px;
    font-style: italic;
}

blockquote:before {
	position: absolute;
    top: -10px;
    left: -60px;
    content: "\201C";
    font-family: serif;
    font-size: 82px;
    line-height: 1;	
}

blockquote:after {
    position: absolute;
    bottom: -10px;
    right: -60px;
    content: "\201D";
    font-family: serif;
    font-size: 82px;
    line-height: 1;
}

.sticky {
	padding: 20px;
}

.title { font-size: 11pt; font-family: verdana; font-weight: bold; }

h1.jacbt_post_title {
	margin: 0px;
}

/* post metadata elements */
div.jacbt_meta_wrapper, div.comment-meta {
	overflow: hidden;
}
	
span.jacbt_post_meta, div.comment-meta {
    padding: 0;
    font-style: italic;
    font-weight: normal;	
}
span.jacbt_post_meta_left {
    margin: 0px 10px 0px 25px;
	float: left;
}
span.jacbt_post_meta_right {
    margin: 0px 25px 0px 10px;
	float: right;
}
.jacbt_post_tags {
	padding-left: 10px;
}

.jacbt_meta_wrapper a, .comment-meta a {
    font-style: normal;
    font-weight: bold;
}

.jacbt_meta_wrapper a:link, a.jacbt_post_title_link,
.jacbt_post_nav a:link, .comment-meta a:link {
    text-decoration: none;	
}
.jacbt_meta_wrapper a:hover, .jacbt_meta_wrapper a:active,
.jacbt_post_nav a:hover .jacbt_post_nav a:active,
.comment-meta a:hover, .comment-mena a:active {
	text-decoration: none;
}

a.more-link {
    font-style: normal;
    font-weight: bold;
}

a:link.more-link {
    text-decoration: none;	
}
a:hover.more-link {
	text-decoration: none;
}

div.jacbt_post_nav_bottom {
	clear: both;
	padding: 20px;
}
div.jacbt_post_nav_top {
	padding: 20px;
}
div.jacbt_post_nav_bottom_prev {
	display: inline-block;
	float: left;
}
div.jacbt_post_nav_bottom_next {
	display: inline-block;
	float: right;
}
div.jacbt_post_pag_header {
	margin-left: 25px;
}
div.jacbt_post_pag_header a {
	font-weight: bold;
}

.reply {
	border-radius: 5px;
	padding: 5px;
}