@charset "utf-8";
/*
Peloton color scheme

*/

body { 
	background-color: grey;
}

.jacbt_site_header {
    background-color: rgba(255,255,255,0.8); 
}
.jacbt_site_header, .jacbt_site_header a, .jacbt_site_header, .jacbt_site_header a {
    color: black; 
}

#site-footer {
    background-color: rgba(0,0,0,0.5);
}

#jacbt_sidebar { 
	background-color: white;
}

#jacbt_content {
	background-color: white;
}

#jacbt_footer { 
	background-color: white;
}

blockquote:before {
    color: #ddd;
}

blockquote:after {
    color: #ddd;
}

/* post metadata elements */	
span.jacbt_post_meta {
    color: #828282;
}
.jacbt_meta_wrapper a {
	color: #727272;
}

.jacbt_menu_header a:active, .jacbt_menu_header a:hover {
	background-color: white;
}	
.jacbt_menu_footer a:active, .jacbt_menu_footer a:hover {
	// background-color: #828282;
	background-color: red;
}	
