@charset "utf-8";
/*
Peloton color scheme

*/

body { 
	background-color: grey;
}

.jacbt_site_header {
    background-color: rgba(255,255,255,0.8); 
}
.jacbt_site_header, .jacbt_site_header a, .jacbt_site_header, .jacbt_site_header a {
    color: black; 
}

#site-footer {
    background-color: rgba(0,0,0,0.5);
}

#jacbt_sidebar { 
	background-color: white;
}

#jacbt_content {
	background-color: white;
}

#jacbt_footer { 
	background-color: white;
}

blockquote:before {
    color: #ddd;
}

blockquote:after {
    color: #ddd;
}

.sticky {
	background-color: #ffff99;
}

/* post metadata elements */	
span.jacbt_post_meta {
    color: #828282;
}
.jacbt_meta_wrapper a, .jacbt_post_nav a, .jacbt_post_nav {
	color: #727272;
}
a.jacbt_post_title_link {
	color: black;
}
.jacbt_menu_above_content {
	background-color:	white;
}

a {
	color: black;
}
a:hover {
	background-color: #dddddd;
}

#jacbt_sidebar > *, #jacbt_sidebar > * a,
#jacbt_footer > *, #jacbt_footer > * a{
	color: #727272;
}

.jacbt_menu_header, .jacbt_menu_header a,
.jacbt_menu_above_content, .jacbt_menu_above_content a {
	color: black;
	font-weight: bold;
}

.jacbt_menu_header a:active, .jacbt_menu_header a:hover {
	background-color: white;
}	
\.jacbt_menu_above_content a:active, .jacbt_menu_above_content a:hover {
	background-color: #d2d2d2;
}	
