body { 
	background-color: grey;
}
#wrapper { 
	display: block;
	padding-top: 145px;  
	margin:0px 20px;
}

#site-header-logo {
	height: 130px;
	width: 130px;
	background: transparent;
	margin: 5px 10px 5px 5px;
	float: left;	
	background-image: url('http://justanothercyclist.com/files/2015/06/JAC_chainring_red_125x125.png');
    background-repeat: no-repeat;
    background-position: 0px;
}

#site-header {
    height: 140px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5); 
}

#sidebar { 
	width: 275px;
	height: 100%;
	border: 2px #a2a2a2 solid; 
	float: right; 
	background-color: white;
	margin-left: 20px;
}

#content {
	width: auto;
	height: auto;
	background-color: white;
	margin-right: 295px;
}

#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title { font-size: 11pt; font-family: verdana; font-weight: bold; }